extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/check", method="post")
    p Enter the Twitter Handle:
      input(id='handle',type='text',value='',placeholder='@',name='handle')
    div.actions
      input(type="submit", value="Submit")

    if data
      p Results:
        for d in data
          p= d.screen
            table
              thead
                tr
                  th Title
                  th Accuracy
                  th Prediction
              tbody
                for k, i in d.data
                  tr
                    td= i
                    td= k.accuracy
                    if k.prediction == 1
                      td HUMAN
                    else
                      td BOT
